<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/js/actions.js")
    @Scripts.Render("~/Scripts/jquery.signalR-2.3.0.min.js")
    @Scripts.Render("~/signalr/hubs")
    @RenderSection("scripts", required: false)
</head>
<body>
    <!-- Modal -->
    <script type="text/javascript">
        function enterPressed() {
            if ($('#loginModal').is(':visible')) {
                login();
            }
            else if ($('#registerModal').is(':visible')) {
                register();
            }
            else if ($('#profileInfoModal').is(':visible')) {
                $('#profileInfoButton').click();
            }
        }
        $(function () {
            $("input").keypress(function (e) {
                var key = e.which;
                if (key == 13) {
                    enterPressed();
                }
            });
        });
    </script>
    <div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <center><h5 class="modal-title" id="loginModal"><span class="text-muted">Enter your user credentials</span></h5></center>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-xs-offset-2 col-xs-8">
                            <form>
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
                                    <input id="email" type="text" class="form-control" name="email" placeholder="Email">
                                </div>
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                                    <input id="password" type="password" class="form-control" name="password" placeholder="Password">
                                </div>
                                <br>
                            </form>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12" id="loginModalAlert">
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" onclick="login()">Login</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="registerModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <center><h5 class="modal-title" id="registerModal"><span class="text-muted">Enter your personal information</span></h5></center>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-xs-offset-2 col-xs-8">
                            <form>
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                                    <input id="firstname" type="text" class="form-control" name="firstname" placeholder="First Name">
                                </div>
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                                    <input id="lastname" type="text" class="form-control" name="lastname" placeholder="Last Name">
                                </div>
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
                                    <input id="email" type="text" class="form-control" name="email" placeholder="Email">
                                </div>
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                                    <input id="password" type="password" class="form-control" name="password" placeholder="Password">
                                </div>
                                <br>
                            </form>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12" id="registerModalAlert">
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" onclick="register()">Register</button>
                </div>
            </div>
        </div>
    </div>
    <header>
        <!-- Fixed navbar -->
        @{ var user = (AuctionWebsite.Models.User)Session["user"]; }
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/Home/Auctions">AuctionWebsite</a>
                </div>
                <div class="collapse navbar-collapse" id="myNavbar">
                    <ul class="nav navbar-nav">
                        <li><a href="/Home/Auctions">Auctions</a></li>
                        @if (user != null)
                        {
                            <li><a href="/Home/NewAuction">Create Auction</a></li>
                            <li><a href="/Home/WonAuctions/@user.ID">Won Auctions</a></li>
                        }
                        @if (user != null && user.Administrator == 1)
                        {

                            <li><a href="/Home/System">System</a></li>
                        }
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        @if (user == null)
                        {
                            <li><a class="modals" data-toggle="modal" data-target="#registerModal"><span class="glyphicon glyphicon-user"></span> Register</a></li>
                            <li><a class="modals" data-toggle="modal" data-target="#loginModal"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                        }
                        else
                        {

                            <li><a href="/Home/Profile/@user.ID"><span class="glyphicon glyphicon-user"></span> <span id='@user.ID.ToString()'>@user.FirstName @user.LastName</span></a></li>
                            <li><a onclick="logout()"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container body-content">
        @RenderBody()
    </div>
    <footer class="footer navbar-inverse">
        <div class="container">
            <center><span class="text-muted">Elektrotehnički fakultet, Odsek za softversko inženjerstvo - Predrag Mitrović 2015/0608</span></center>
        </div>
    </footer>
</body>
</html>